/* header {
    background-color: #4aaaa5;
    color: #ffffff;
    border-block-end: 1px #dddddd;
    font-family: Georgia, 'Times New Roman', Times, serif;    
}
 */

 * {
     text-decoration: none;
 }


body {
    background-color: #ffffff;
}

.headlogo {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 25px;
    width: 150px;
    padding: 30px;
    font-weight: 700;
    display: block;
    margin-left: 170px;
    text-align: center; 
    float: left;
    border: solid 2px #dddddd;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#topborder {
    background-color: #ffffff;
    display: inline-block;
    list-style: none;
    width: 100%;
    font-size: 15px;
    float: right;
    text-align: center;
    border-bottom: solid 1px #dddddd;
}

.links {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #666666;
}

.a {
    float: left;
    margin-left: 350px;
    padding-top: 30px;
}

a:link, a:visited {
    color: #666666;
}
a:hover {
    color: #4aaaa5;
    border: 2px solid #4aaaa5;
}

.headlogo:link, .headlogo:visited {
    color: #ffffff;
}

.headlogo:hover {
    border: 2px solid white;
}


.p {
    float: left;
    margin-left: 100px;
    padding-top: 30px;
}

.c {
    float: left;
    margin-left: 100px;
    padding-top: 30px;
}

.background {
    clear: both;
    width: 100%;
    height: 100vh;
    background-image: url(../images/Subtle-Grunge-Grey-Seamless-Pattern-For-Website-Background.jpg);
    background-size: cover;
    position: relative;
    padding-top: 20px;
}


.contentback {
    background-color: #ffffff;
    border: solid #dddddd 2px;
    width: 960px;
    float: center;
    margin-left: 170px;
}

#pic {
    position: relative;
    float: left;
    margin: 20px;
}

.subtitle {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-size: 30px; 
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text {
    padding-top: 20px;
    height: 400px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 50px;
}

hr {
    display: block;
    margin-top: 0.5px;
    margin-left: 90px;
    margin-right: 90px;
    border-style: inset;
    border-width: 1px;
    color: #dddddd;
}


.footer {
    width: 700px;
    padding-left: 580px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: solid 5px #4aaaa5;
    background-color: #666666;
    color: #ffffff;
}

.container_form {
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-left: 50px;
}

#name {
    width: 850px;
    height: 20px;
    margin-bottom: 20px;
}

#email {
    width: 850px;
    height: 20px;
    margin-bottom: 20px;
}

#messages {
    width: 850px;
    height: 100px;
    margin-bottom: 10px;
}


input [type=button], input[type=submit], input [type=reset] {
    background-color: #4aaaa5;
    padding: 10px;
    width: 100px;
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 20px;
}


.portfolio {
    float: center;
    padding: 30px;
    position: relative;
    background: #ffffff;
    height: 300px;
}


#p1 {
    float:left;
    padding-right: 50px;
}

#p2 { float: center;
}

.p1title {
    position: absolute;
    margin-top: 160px;
    font-size: 20px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 55px;
    padding-right: 55px;
}

.p2title {
    position: absolute;
    margin-left: 250px;
    margin-top: 160px;
    font-size: 20px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 55px;
    padding-right: 55px;
}